body {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(142, 197, 245);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

*:focus {
  outline: none;
}

label {
  margin: 10px 0;
  display: block;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  text-align: center;
  /* display: inline; */
}

h2 {
  border-bottom: 2px solid rgba(95, 94, 94, 0.2);
}

select {
  margin-left: 5px;
}

li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

ul {
  padding-left: 0px;
}

#root {
  padding: 25px;
  box-shadow:4px 5px 10px #333333;
  background-color: rgb(158, 203, 241);
}

#info_modal_btn {
  float: right;
  border-radius: 50%;
  transition: .8s ease-in-out;
  position: relative;
  top: -15px;
  left: 15px;
}

#info_modal_btn:hover {
  background-color: white;
}

input[type='number'],
input[type='text'],
select {
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  vertical-align:middle;
}

input[type='number']{
  display: block;
  width: 91%;
} 

input[type='text'], select {
  width: 45%;
}

.add_btn {
  width: 97%;
  height: 30px;
  display: block;
  margin-top: 7px;
  background-color: aliceblue;
  transition: .5s ease-in-out;
  border-style: none;
}

.add_btn:hover {
  background-color: rgb(207, 229, 248);
}

.delete_btn{
  text-align: center;
  width: 30px;
  height: 30px;
}

.close {
  float: right;
  font-size: 25px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .75s ease-in-out;
}

.close:hover {
  background-color: red;
  cursor: pointer;
}

.cost, .remaining .close{
  float: right;
}

.delete_btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.need {
  color: rgb(168, 97, 97);
}

.savingOrDebt {
  color: rgb(19, 144, 103);
}

.want {
  color: rgb(116, 121, 48);
}

.error {
  color: red;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  background: white;
  width: 40%;
  height: 55%;
  top: 35%;
  font-size: 20px;
  font-weight:300;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background-color:  rgb(142, 197, 245);
}

.split {
  font-weight: bold;
}

.description {
  font-size: 17px;
  font-weight: 545;
}